@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/ibge.jpg" style="width:250px"/>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://cidades.ibge.gov.br/">IBGE</a>.</p>
</div>
